@media screen and (min-width:426px) and (max-width:1100px){

}
@media screen and (max-width:425px){
    .logo{
        height: 20rem;
        position: relative;
    }
    body{
        background-image: url(/imgs/option2.jpg);
        background-size:cover;
        height:100vh;
        background-repeat: no-repeat;
    }
    .universityopt{
        display:grid;
        width: 8cm;
    }
    body div a{
        padding: 30px;
        margin-top: 1.5cm;
        margin-left: 20px;
    }
}